.App {
  text-align: center;
}
.mesero-container {
  background-color: #0c1333;
  height: 600px;
  display: grid;
  grid-template-columns: 33% 33% 34%;
  grid-template-rows: 25% 25% 25% 25%;
}
.mesa1 {
  background: rgba(123, 179, 219, 0.5);
  border: 5px solid #00bbf7;
  box-sizing: border-box;
  border-radius: 20px;
  grid-row-start: 2;
}
.mesa2 {
  background: rgba(123, 179, 219, 0.5);
  border: 5px solid #00bbf7;
  box-sizing: border-box;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 2;
}
.mesa3 {
  background: rgba(123, 179, 219, 0.5);
  border: 5px solid #00bbf7;
  box-sizing: border-box;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 3;
}
.mesa4 {
  background: rgba(123, 179, 219, 0.5);
  border: 5px solid #00bbf7;
  box-sizing: border-box;
  border-radius: 20px;
  grid-row-start: 3;
  grid-column-start: 1;
}
.mesa5 {
  background: rgba(123, 179, 219, 0.5);
  border: 5px solid #00bbf7;
  box-sizing: border-box;
  border-radius: 20px;
  grid-row-start: 3;
  grid-column-start: 2;
}
.mesa6 {
  background: rgba(123, 179, 219, 0.5);
  border: 5px solid #00bbf7;
  box-sizing: border-box;
  border-radius: 20px;
  grid-row-start: 3;
  grid-column-start: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
