.App {
  text-align: center;
}
.header{
  background-color: #0c1333;
  height: 100vh;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 33% 33% 34%;
 }
.homeContainer{
  grid-column-start: 1;
  grid-column-end: span col4-start;
 }
  .logoSushibar{
    width: 40%;
   }
  .cocinaImg{
    width: 15%;
      }
  .meserxImg{
    width: 15%
           
     }
.waiterContainer {
  background-color: #0c1333;
  height: 600px;
  grid-column-start: 1;
  grid-column-end: span col1-start;
  display: flex;
  justify-content:center;
  flex-wrap:wrap;
  grid-gap: 5% 20%;
 }
  .table1 {
    background: rgba(123, 179, 219, 0.5);
    border: 5px solid #00bbf7;
    box-sizing: border-box;
    border-radius: 20px;
    }
  .table2 {
    background: rgba(123, 179, 219, 0.5);
    border: 5px solid #00bbf7;
    box-sizing: border-box;
    border-radius: 20px;
    }
  .table3 {
    background: rgba(123, 179, 219, 0.5);
    border: 5px solid #00bbf7;
    box-sizing: border-box;
    border-radius: 20px;
    }
  .table4 {
    background: rgba(123, 179, 219, 0.5);
    border: 5px solid #00bbf7;
    box-sizing: border-box;
    border-radius: 20px;
    }
  .table5 {
    background: rgba(123, 179, 219, 0.5);
    border: 5px solid #00bbf7;
    box-sizing: border-box;
    border-radius: 20px;
    }
  .table6 {
    background: rgba(123, 179, 219, 0.5);
    border: 5px solid #00bbf7;
    box-sizing: border-box;
    border-radius: 20px;
    }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}